@if (href) {
  <a
    [href]="href"
    class="button"
    [class.button-secondary]="variant === 'secondary'"
    [class.button-outline]="variant === 'outline'"
    [class.button-full]="fullWidth"
    (click)="handleClick()"
  >
    {{ label }}
  </a>
} @else {
  <button
    type="button"
    class="button"
    [class.button-secondary]="variant === 'secondary'"
    [class.button-outline]="variant === 'outline'"
    [class.button-full]="fullWidth"
    (click)="handleClick()"
  >
    {{ label }}
  </button>
}
